@font-face {
  font-family: "Rounded Mplus 1c";
  font-weight: 800;
  font-style: normal;
  src: local("Rounded Mplus 1c"),
      url("../fonts/RoundedMplus1c-ExtraBold.woff2") format('woff2'),
      url("../fonts/RoundedMplus1c-ExtraBold.woff") format('woff'),
      url("../fonts/RoundedMplus1c-ExtraBold.eot") format('eot');
  font-display: swap;
}
@font-face {
  font-family: "Rounded Mplus 1c";
  font-weight: 400;
  font-style: normal;
  src: local("Rounded Mplus 1c"),
      url("../fonts/RoundedMplus1c-Regular.woff2") format('woff2'),
      url("../fonts/RoundedMplus1c-Regular.woff") format('woff'),
      url("../fonts/RoundedMplus1c-Regular.eot") format('eot');
  font-display: swap;
}