html, body {
  font-size: 18px;
  font-weight: 400;
  font-family: "Rounded Mplus 1c", sans-serif;
  font-style: normal;
}
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.button {
  } 
/* ================================================================================================ */
.header {
  background: url("../images/decor/fruit-bg.svg") 0 0 /100% no-repeat;
  height: 100vh;
  width: 100%;
  color: #FFFFFF;
}
.header__top {}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.header__logo {
  margin-right: 126px;
}
.logo {}
.header__nav {
  margin-right: 126px;
}
.header__nav-list {
  display: flex;
  height: 27px;
}
.header__nav-item {
  display: flex;
  margin-right: 55px;
  outline: 2px solid transparent;
  justify-content: center;
  align-items: center;
  padding: 18px 14px;
  overflow: inherit;
  border-radius: 30px;
}
.header__nav-item:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid #FFFFFF;
  border-radius: 30px;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-link {
  display: flex;
  white-space: nowrap;
  line-height: 26.73px;
  letter-spacing: 2px;
  transition: all .3s;
  padding: 0px 0px 0px 0px;
}
.header__nav-link:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  line-height: 26.73px;
}
.header__socials {
  margin-right: 376px;
}
.header__socials-list {
  display: flex;
}
.header__socials-item {
  margin-right: 30px;
}
.header__socials-item:last-child {
  margin-right: 0;
}
.header__socials-link {}

.main__new {
  background: url("../images/decor/2-bg.svg") 0 0 /100% no-repeat;
  height: 100vh;
  width: 100%;
  color: #FFFFFF;
  margin-bottom: 140px;
}

/* ========================================================================= */

.header__main {
  display: flex;
  justify-content: space-between;
}
.header__content {
  margin-top: 181px;
  margin-right: 625px;
  align-items: center; 
}
.header__title {
font-weight: 800;
font-size: 52px;
line-height: 60px;
max-width: 550px;
margin-bottom: 13px;
}
.header__text {
line-height: 27px;
margin-left: 3px;
padding-right: 25px;
margin-bottom: 22px;
text-align: left;
max-width: 470px;
}
.header__content-btn {
  overflow: hidden;
  position: relative;
}
.header__content-btn span{
  display: block;
  position: absolute;
  top: 8px;
  right: 32px;
  left: 35px;
  bottom: 16px;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
}
/* ==================================== NEW ===================================== */

.new {
}
.container {
}
.new__inner {
}
.new__top {
  top: 50px;
  left: 360px;
  right: 360px;
  margin-bottom: 12px;
}
.new__row {
  display: flex;
}
.new__item {
}
.new__image-box {
}
.new__item-content {
}
.new__item-title {
}
.new__item-text {
}
